.sideBar {
    /* background-color: darksalmon; */
    grid-area: n;
    background-color: #a67b6a;
    padding: 20px;
}

.item a{
    color: aliceblue;
    text-decoration: none;
}
.item active {
    color: gold;
}

.item a.activeLink {
    color: gold;
}