.sideBar {
    /* background-color: darksalmon; */
    grid-area: n;
    background-color: #a67b6a;
    padding: 20px;
}

.item a {
    color: aliceblue;
    text-decoration: none;
}

.item a.activeLink,
.friends a.activeLink {
    color: gold;
}

.friends{
    padding-top: 20px;
}
.friends a {

    font-size: large;
    color: aliceblue;
    text-decoration: none;
}