
.allChats {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.allChats img{
    max-width: 40px;
}

.allChats .allDialogs {
    padding: 10px;
    text-decoration: none;
    width: 40%;
}

.allChats .allDialogs a {
    text-decoration: none;
    color: brown;
}

.allChats .allDialogs .dialog {

}

.allChats .messages {
    color: #fff;
    padding: 10px;

}

.allChats .messages a {
    text-decoration: none;
    color: #282c34;
}

.allChats .avatar img{
    max-height: 80px;
}
